@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$beige-lighter: #EFF0EB;
$primary: #3D89C9;
$info: #7843CE;
$link: #4F4CD1;
$warning: #FFAF40;
$danger: #E23600;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$widescreen-enabled: true;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$input-shadow: none;

// Have wider modals
$modal-content-width: 900px;

// Used for css transitions
$transition-short: 0.2s;
$transition-medium: 0.5s;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/form.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/tag.sass";
@import "../node_modules/bulma/sass/elements/notification.sass";
@import "../node_modules/bulma/sass/elements/other.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/components/breadcrumb.sass";
@import "../node_modules/bulma/sass/components/level.sass";
@import "../node_modules/bulma/sass/components/modal.sass";
@import "../node_modules/bulma/sass/components/dropdown.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/tabs.sass";

// These should be moved to appropriate locations
// Used by the RichFieldEditor
.listed-flashcard {
    & .flashcard-toolbar {
        display: flex;
        padding: 0.25rem;
        flex-wrap: wrap;

        > .field {
            margin: 0.25rem;
        }
    }
    & .flashcard-face {
        border-left: 1px solid $grey-lighter;
    }
    & .tag-editor {
        padding: 0.5rem;
        .tag-input {
            background-color: white;
            border: 0;
        }
    }
    & > .card {
        /* Show blue glow around saving card editors */
        transition: box-shadow $transition-short;
        &.saving {
            box-shadow: 0 0 5px $primary;
        }
    }
}

.editor-card-divider {
    cursor: pointer;
    padding: 1rem 0;
    margin: 1rem 0;
    position: relative;
    &::before {
        content: " ";
        display: block;
        background-color: $grey-lighter;
        height: 2px;
    }
    & > * {
        border-radius: $radius;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    &.is-subtle {
        & > * {
            display: flex;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            border: 2px solid $grey-lighter;
        }
    }
}

.reveal-editor-field {
    cursor: pointer;
    color: #AAA;
    &:before {
        content: "[";
        color: black;
    }
    &:after {
        content: "]";
        color: black;
    }
}

.card-content.content {
    margin-bottom: 0;
}

.editable-text {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border: 1px solid transparent;
    border-radius: 3px;
    margin: -0.2rem 0;

    color: inherit;
    font: inherit;
    background: transparent;

    &:empty:before {
        content: "\00a0";
    }

    &:first-child {
        margin-left: -0.5rem;
    }

    &:hover, &:focus {
        background-color: rgba(black, $alpha: 0.2);
    }
    &.read-only {
        background-color: transparent;
    }
}

.tooltip {
    position: relative;
    & > .tooltip-tip {
        position: absolute;
        bottom: calc(100% + 0.5rem);
        max-width: 8rem;
        color: $text;
        white-space: normal;
        font-family: $family-primary;
        font-size: $size-normal;
        width: 14rem;
        background-color: white;
        padding: 0.5rem;
        border-radius: $radius;
        box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
        transform: translateX(-50%);
        left: 50%;
        z-index: 50;
        text-align: center;
    }
}

.transition.slide {
    overflow: hidden;
    transition: height $transition-short;
    transition-timing-function: ease-out;
    background-color: white;

    & > * {
        transition: opacity $transition-short;
        transition-timing-function: ease-in-out;
    }

    &.collapsed {
        height: 0px;
        & > * {
            opacity: 0;
        }
    }
}